<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<nav class="customer-index-nav">
		<ul>
			<li class="customer-index-nav-logo">
				<img src="../../assets/images/logo.png">
			</li>
			<li>
				<p>About Us</p>
			</li>
			<li>
				<p>My Account</p>
			</li>
			<li>
				<p>History</p>
			</li>
			<li>
				<p>Help</p>
			</li>
			<li class="customer-index-name">
				<div>
					<p>Hai, Nabila Putri Sina!</p>
				</div>
			</li>
		</ul>
	</nav>

	<div class="customer-index-content">
		<div class="customer-index-content-item customer-index-order-button">
			<img style="position: absolute; top: 0;left: -20%; z-index: -1; width: 140%;" src="../../assets/images/scoring/bg.jpg">
			<div class="overlay">
				<p>ORDER <span><img src="../../assets/images/logo_icon.png"></span> NOW</p>
				<button class="btn btn-warning">Click This Button <i class="fas fa-angle-right"></i></button>
			</div>
		</div>
		<div class="customer-index-content-item">
			<img src="../../assets/images/login_customer/bg_login.jpeg">
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>