<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheet/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="order">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<a href="#"><img src="../../assets/images/logo.png"></a>		
			</li>
			<li class="order-nav-item">
				<a href="profile_driver.html.erb">My Account</a>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html.erb">History</a>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><img src="../../assets/images/order/login_icon.png"></li>
					<li>
						<a href="profile_driver.html.erb">Bowo Yanto</a>
					</li>
				</ul>				
			</li>
		</ul>

		<div class="order-content">
			<div class="order-content-item order-content-item-1">
				<div class="order-content-circle order-find-customer">
					<p>FIND A</p>
					<p>CUSTOMER</p>
					<p>NEARBY</p>
				</div>
			</div>
			<div class="order-content-item order-content-item-2">
				<div class="order-content-item-2-header">
					<p class="order-set-location">SET YOUR LOCATION</p>
				</div>
				<div class="order-content-detail order-set-location-detail">
					<div class="order-content-detail-header order-pickup order-content-detail-child">
						<img src="../../assets/images/order/pick_up_icon.png">
					</div>
					<div class="order-content-detail-child">
						<span class="order-pick-up">YOUR LOCATION</span>
						<p>Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
					</div>
				</div>
			</div>
			<div class="order-content-item order-content-item-3">
				<img src="../../assets/images/order/maps.png">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>