<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="login-home">
		<div class="login-home-video-wrapper">
			<video autoplay muted loop class="login-home-background">
			<source src="../../assets/videos/gojek.mp4" type="video/mp4">
			Error;
		</video>
		</div>
		
		<div class="overlay">
			<div class="login-home-content">
				<div class="login-home-content-head">
					which one are you?
				</div>
				<div class="login-home-content-item login-home-content-driver">
					<img class="login-driver-image" src="assets/img/main_page/driver_icon.png">
					<div class="login-home-content-arrow">
						<i class="fas fa-angle-up"></i>
					</div>
				</div>
				<div class="login-home-content-item login-home-content-customer">
					<img class="login-goride-image" src="assets/img/main_page/go-ride_icon.png">
					<div class="login-home-content-arrow login-goride-arrow">
						<i class="fas fa-angle-up"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="login-driver" style="position: absolute; top: 0;left: 0;z-index: 9999; display: none;">
		<div class="login-driver-item">
			<div class="login-driver-table">
				<div class="login-driver-table-header">
					<h2>Welcome to</h2>
					<img src="../../assets/images/logo.png">
				</div>
				<div class="login-driver-table-content">
					<form>
						<div>
							<input type="email" name="email" placeholder="Email">
						</div>
						<div>
							<input type="password" name="password" placeholder="Password">
						</div>
						<div class="login-driver-submit">
							<input class="login-driver-submit-button" type="submit" name="submit" value="Log In">
						</div>
					</form>
					<div class="driver-sign-up">
						<p>haven't register?</p>
						<p><a href="signup_driver.html">Register Here</a></p>
					</div>
				</div>
			</div>
						
		</div>
		<div class="login-driver-item logo-driver">
			<img src="../../assets/images/login_driver/logo_driver.png">
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>

</body>
</html>