<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="main-home-page">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<a href="#"><img src="../../assets/images/logo.png"></a>		
			</li>
			<li class="order-nav-item">
				<a href="profile_driver.html.erb">My Account</a>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html.erb">History</a>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><img src="../../assets/images/order/login_icon.png"></li>
					<li>
						<a href="profile_driver.html.erb">Bowo Yanto</a>
					</li>
				</ul>				
			</li>
		</ul>

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-5 home-page-welcome home-page-bg-lightblue">
					<h2>WELCOME TO</h2>
					<div>
						<img src="../../assets/images/logo.png">
					</div>
				</div>
				<div class="col-lg-2 home-page-bg-lightblue">
					<img src="../../assets/images/main_home_page/driver_icon.png">
				</div>
				<div class="col-lg-2 home-page-bg-lightblue">
					<img src="../../assets/images/main_home_page/driver_icon.png">
				</div>
				<div class="col-lg-3 home-page-start-work">
					<div class="start-work-circle">
						<p>START</p>
						<p>WORKING</p>
						<p><i class="fas fa-key"></i></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>