<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="order">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<a href="#"><img src="assets/img/logo.png"></a>		
			</li>
			<li class="order-nav-item order-current-page">
				<a href="profile_driver.html">My Account</a>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html">History</a>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><img src="assets/img/order/login_icon.png"></li>
					<li>
						<a href="profile_driver.html">Bowo Yanto</a>
					</li>
				</ul>	
			</li>
		</ul>

		<div class="container-fluid">
			<div class="row history">
				<div class="col-lg-2 history-item">
					<img src="assets/img/order/goride_logo.png">
				</div>
				<div class="col-lg-5 history-item">
					<div class="history-destination">
						<div class="row">
							<div class="col-lg-2 history-destination-icon">
								<img src="assets/img/order/destination_icon.png">
							</div>
							<div class="col-lg-10 history-destination-detail">
								<span class="order-destination">DESTINATION</span>
								<p class="history-address">Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
								<div class="history-sub-detail">
									<p class="history-price">
									Price: Rp. 95.000,-
									</p>
									<p class="history-distance">
										Distance: 1.9KM
									</p>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 history-item history-feedback">
					<div class="history-driver-feedback">
						<h2>Joko Haryato</h2>
						<div class="history-driver-feedback-rating">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/empty_star.png">
						</div>
						<p class="history-driver-feedback-comments">
							Comment:
						</p>
						<p class="history-driver-feedback-comments">
							Your driving skill it's very good!
						</p>
					</div>
				</div>
			</div>
			<div class="row history">
				<div class="col-lg-2 history-item">
					<img src="assets/img/order/goride_logo.png">
				</div>
				<div class="col-lg-5 history-item">
					<div class="history-destination">
						<div class="row">
							<div class="col-lg-2 history-destination-icon">
								<img src="assets/img/order/destination_icon.png">
							</div>
							<div class="col-lg-10 history-destination-detail">
								<span class="order-destination">DESTINATION</span>
								<p class="history-address">Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
								<div class="history-sub-detail">
									<p class="history-price">
									Price: Rp. 95.000,-
									</p>
									<p class="history-distance">
										Distance: 1.9KM
									</p>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 history-item history-feedback">
					<div class="history-driver-feedback">
						<h2>Joko Haryato</h2>
						<div class="history-driver-feedback-rating">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/empty_star.png">
						</div>
						<p class="history-driver-feedback-comments">
							Comment:
						</p>
						<p class="history-driver-feedback-comments">
							Your driving skill it's very good!
						</p>
					</div>
				</div>
			</div>
			<div class="row history">
				<div class="col-lg-2 history-item">
					<img src="assets/img/order/goride_logo.png">
				</div>
				<div class="col-lg-5 history-item">
					<div class="history-destination">
						<div class="row">
							<div class="col-lg-2 history-destination-icon">
								<img src="assets/img/order/destination_icon.png">
							</div>
							<div class="col-lg-10 history-destination-detail">
								<span class="order-destination">DESTINATION</span>
								<p class="history-address">Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
								<div class="history-sub-detail">
									<p class="history-price">
									Price: Rp. 95.000,-
									</p>
									<p class="history-distance">
										Distance: 1.9KM
									</p>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 history-item history-feedback">
					<div class="history-driver-feedback">
						<h2>Joko Haryato</h2>
						<div class="history-driver-feedback-rating">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/empty_star.png">
						</div>
						<p class="history-driver-feedback-comments">
							Comment:
						</p>
						<p class="history-driver-feedback-comments">
							Your driving skill it's very good!
						</p>
					</div>
				</div>
			</div>
			<div class="row history">
				<div class="col-lg-2 history-item">
					<img src="assets/img/order/goride_logo.png">
				</div>
				<div class="col-lg-5 history-item">
					<div class="history-destination">
						<div class="row">
							<div class="col-lg-2 history-destination-icon">
								<img src="assets/img/order/destination_icon.png">
							</div>
							<div class="col-lg-10 history-destination-detail">
								<span class="order-destination">DESTINATION</span>
								<p class="history-address">Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
								<div class="history-sub-detail">
									<p class="history-price">
									Price: Rp. 95.000,-
									</p>
									<p class="history-distance">
										Distance: 1.9KM
									</p>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 history-item history-feedback">
					<div class="history-driver-feedback">
						<h2>Joko Haryato</h2>
						<div class="history-driver-feedback-rating">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/empty_star.png">
						</div>
						<p class="history-driver-feedback-comments">
							Comment:
						</p>
						<p class="history-driver-feedback-comments">
							Your driving skill it's very good!
						</p>
					</div>
				</div>
			</div>
			<div class="row history">
				<div class="col-lg-2 history-item">
					<img src="assets/img/order/goride_logo.png">
				</div>
				<div class="col-lg-5 history-item">
					<div class="history-destination">
						<div class="row">
							<div class="col-lg-2 history-destination-icon">
								<img src="assets/img/order/destination_icon.png">
							</div>
							<div class="col-lg-10 history-destination-detail">
								<span class="order-destination">DESTINATION</span>
								<p class="history-address">Jl. Salemba Tengah, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10440</p>
								<div class="history-sub-detail">
									<p class="history-price">
									Price: Rp. 95.000,-
									</p>
									<p class="history-distance">
										Distance: 1.9KM
									</p>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 history-item history-feedback">
					<div class="history-driver-feedback">
						<h2>Joko Haryato</h2>
						<div class="history-driver-feedback-rating">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/star.png">
							<img src="assets/img/order/empty_star.png">
						</div>
						<p class="history-driver-feedback-comments">
							Comment:
						</p>
						<p class="history-driver-feedback-comments">
							Your driving skill it's very good!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>