<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<nav class="profile-customer-nav">
		<ul class="profile-customer-nav-list">
			<li class="profile-customer-nav-item">
				<a href="profile_customer.html">My Account</a>
			</li>
			<li class="profile-customer-nav-item profile-customer-nav-selected">
				<a href="profile_customer_edit.html">Edit Profile</a>
			</li>
			<li class="profile-customer-nav-item profile-customer-nav-rev">
				<a class="active" href="#">
					<img src="assets/img/logo_white.png">
				</a>
			</li>
		</ul>
	</nav>

	<div class="profile-customer-content">
		<div class="profile-customer-content-item">
			<div>
				<img src="assets/img/profile_customer/profile_picture.jpg">
			</div>

			<div class="profile-customer-change-picture">
				<img src="assets/img/profile_customer/camera_icon.png">
				<span>Change</span>
			</div>
			
		</div>
		<div class="profile-customer-content-item profile-customer-content-item-2">
			<form>

			<div class="profile-customer-content-detail">
				<p>Full Name</p>
				<input type="text" name=""value="Via Vallen" class="profile-customer-content-detail-fill">
			</div>
			
			<div class="profile-customer-content-detail">
				<p>Email Address</p>
				<input type="text" name="" value="viavallen@gmail.com" class="profile-customer-content-detail-fill">
				
			</div>

			<div class="profile-customer-content-detail">
				<p>Phone Number</p>
				<input type="text" name="" value="+628 128 220 989" class="profile-customer-content-detail-fill">
			</div>

			<div class="profile-customer-content-detail profile-customer-edit-submit">
				<button class="profile-customer-edit-submit-button">Save Changes</button>
			</div>

			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>