<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="profile-driver">
		<ul class="order-nav">
			<li class="order-nav-item order-logo">
				<a href="#"><img src="../../assets/images/logo.png"></a>		
			</li>
			<li class="order-nav-item">
				<a href="profile_driver.html.erb">My Account</a>
			</li>
			<li class="order-nav-item">
				<a href="order_history.html.erb">History</a>
			</li>
			<li class="order-nav-item order-account">
				<ul>
					<li><img src="../../assets/images/order/login_icon.png"></li>
					<li>
						<a href="profile_driver.html.erb">Bowo Yanto</a>
					</li>
				</ul>				
			</li>
		</ul>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 profile-driver-portrait profile-driver-item">
					<div class="profile-driver-portrait-image profile-driver-edit-image">
						<img src="../../assets/images/profile_driver/edit_profile.png">
					</div>
					<button onclick="window.location ='profile_driver.html';">SAVE</button>
				</div>
				<div class="col-lg-5 profile-driver-detail profile-driver-item profile-driver-edit-detail">
					<div class="profile-driver-detail-item">
						<img src="../../assets/images/profile_driver/email_icon.png">
						<input class="profile-driver-detail-item-input" type="email" placeholder="bowoyanto@gmail.com">
					</div>
					<div class="profile-driver-detail-item">
						<img src="../../assets/images/profile_driver/name_icon.png">
						<input class="profile-driver-detail-item-input" type="text" placeholder="Bowo Yanto">
					</div>
					<div class="profile-driver-detail-item">
						<img src="../../assets/images/order/call_icon.png">
						<input class="profile-driver-detail-item-input" placeholder="0811991321" type="text">
					</div>
					<div class="profile-driver-detail-item">
						<img src="../../assets/images/profile_driver/email_icon.png">
						<input class="profile-driver-detail-item-input" type="text" placeholder="B 1234 JKT">
					</div>
				</div>
				<div class="col-lg-4 profile-driver-rating profile-driver-item">
					<p>75% Rating Scale</p>
					<div class="profile-driver-rating-star">
						<img src="../../assets/images/order/star.png">
						<img src="../../assets/images/order/star.png">
						<img src="../../assets/images/order/star.png">
						<img src="../../assets/images/order/half_star.png">
						<img src="../../assets/images/order/empty_star.png">
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>