<!DOCTYPE html>
<html>
<head>
	<title>GO-KUY</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>

	<div class="waiting">
		<nav class="waiting-nav">
			<ul class="waiting-nav-header">
				<li class="waiting-nav-header-item waiting-back">
					<img src="assets/img/waiting_to_pickup/back-white.png">
				</li>
				<li class="waiting-nav-header-item waiting-logo">
					<img src="assets/img/logo_white.png">
				</li>
				<li class="waiting-nav-header-item waiting-nav-header-rev">
					<img src="assets/img/waiting_to_pickup/refresh.png">
				</li>
			</ul>
		</nav>
		<div class="waiting-content">
			<div class="waiting-content-banner">
				<div class="overlay">
				</div>
			</div>
			<div class="waiting-content-detail">
				<h3>PLEASE WAIT...</h3>
				<p>
					SEARCHING THE NEAREST DRIVER FOR YOU
				</p>
				<div class="waiting-content-detail-cancel">
					X
				</div>
			</div>
			<div class="waiting-content-new-order">
				<a href="">NEW ORDER</a>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>