// Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Cuprum');

body {
	font-family: 'Cuprum';
	overflow-x: hidden;
}

#main-map {
	width: 100%;
	height: 400px;
}

.leaflet-routing-container {
	display: none !important;
}

#job-div {
	background-color: grey;
	height: 400px;
	padding: 30px 0;
}

#circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-color: orange;
	border: 7px solid green;
	font-size: 40px;
	cursor: pointer;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 15px;
	margin-top: 15%;
}

#information-div {
	background-color: green;
	font-size: 20px;
	height: 400px;
	padding: 20px 0;
	padding-top: 8%;
}

#information-div #title {
	font-size: 30px;
}

#pickup, #dest, #detail {
	width: 50%;
	background-color: white;
	padding: 10px;
	margin: 10px auto;
	text-align: left;
}

.img-location {
	width: 35px;
	height: 35px;
	margin-top: -5px;
	margin-right: 5px;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: #ffffff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#pickup-loc, #dest-loc {
	margin-left: 45px;
}

.btn {
	padding: 10px 35px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

#btnAccept, #btnStartWorking, #btnFinishWorking, #btnDoneWorking {
	background-color: orange;
}

#btnDecline {
	background-color: green;
}

.btn:hover {
	color: white;
}

#detail span {
	font-size: 22px !important;
}

#img-nav {
	width: 50px;
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
}

.img-logo {
	width: 20%;
	margin-bottom: 10px;
}

.img-check {
	width: 100px;
	height: 100px;
}