body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto-Regular';
}

@font-face{
	src: url("../font/Roboto-Regular.ttf");
	font-family: 'Roboto-Regular';
}

@font-face{
	src: url("../font/Roboto-Thin.ttf");
	font-family: 'Roboto-Thin';
}

@font-face{
	src: url("../font/Roboto-Light.ttf");
	font-family: 'Roboto-Light';
}

@font-face{
	src: url("../font/Roboto-Medium.ttf");
	font-family: 'Roboto-Medium';
}

@font-face{
	src: url("../font/Roboto-Bold.ttf");
	font-family: 'Roboto-Bold';
}

@font-face{
	src: url("../font/Continuum-Bold.ttf");
	font-family: 'Continuum-Bold';
}

@font-face{
	src: url("../font/Continuum-Medium.ttf");
	font-family: 'Continuum-Medium';
}

@font-face{
	src: url("../font/Montserrat-Light.otf");
	font-family: 'Montserrat-Light';
}

input {
	outline: none;
}

.span-align-helper{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

/* scoring css */

.scoring{
	font-family: 'Roboto-Regular';
	letter-spacing: 1px;
}

.scoring-header{
	background-image: url("../img/scoring/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.scoring-header h2{
	color: #0cb01c;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 26px;
	font-family: Roboto-Medium;
	font-weight: normal;
}

.scoring-header-content{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.scoring-header-content::after{
	content: '';
	clear: both;
	display: block;
}

.scoring-header-content-item{
	width: 50%;
	float: left;
	text-align: left;
}

.scoring-header-content-item:nth-of-type(1){
	width: 45%;
	text-align: right;
}

.scoring-header-content-item img{
	width: 60%;
	border: 2px solid green;
	border-radius: 100%;
}

.scoring-header-content-item:nth-of-type(2) p{
	padding-left: 20px;
	font-size: 24px;
	color: white;
	margin: 12px;
}

.scoring .scoring-header .scoring-price{
	color: #0cb01c;
}

.scoring-content{
	margin-top: 20px;
	color: black;
}

.scoring-content h2{
	text-align: center;
}

.scoring-content-rating{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.scoring-content-rating img{
	width: 6%;
	margin-left: 2%;
	margin-right: 2%;
	cursor: pointer;
}

.scoring-content-comments{
	margin-top: 20px;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.scoring-content-comments textarea{
	width: 100%;
	border: grey;
	border-radius: 15px;
	background-color: lightgrey;
	padding: 10px 20px;
	resize: none;
}

.scoring-content-comments textarea::placeholder{
	font-size: 20px;
}

.scoring-content-helmet{
	width: 80%;
	margin: auto;
}

.scoring-content-submit{
	text-align: center;
}

.scoring-content-submit input{
	width: 10%;
}

/* waiting to pickup css */

.waiting{
	background-color: #2d2d2d;
	font-family: Montserrat-Light;
}

.waiting-nav{
	background-color: #2d2d2d;
}

.waiting-nav-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

.waiting-nav-header-item{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 20%;
    cursor: pointer;
}

.waiting-nav-header .waiting-nav-header-rev{
	padding: 0;
	float: right;
	width: 300px;
	text-align: right;
}

.waiting-nav-header-item img{
	width: 20%;
}

.waiting-back{
	width: 7%;
	padding-top: 1%;
}

.waiting-back img{
	width: 90%;
}

.waiting-logo{
	width: 20%;
}

.waiting-logo img{
	width: 100%;
}

.waiting-content{
	margin-top: 20px;
}

.waiting-content-banner{
	background-image: url('../img/waiting_to_pickup/banner.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 40vh;
	background-position: 100% -350px;
}

.waiting-content-detail{
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: -1px;
	font-size: 18px;
}

.waiting-content-detail h3{
	font-weight: bold;
	color: #17621e;
	font-size: 26px;
	margin-bottom: 20px;
}

.waiting-content-detail-cancel{
	background-color: grey;
	cursor: pointer;
	border-radius: 100%;
	color: red;
	font-weight: bolder;
	font-family: Roboto-Bold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	margin: auto;
	margin-top: 20px;
	transition: 0.3s;
}

.waiting-content-detail-cancel:hover{
	background-color: lightgrey;
	color: darkred;
}

.waiting-content-new-order{
	background-color: green;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 23px;
	cursor: pointer;
}

.waiting-content-new-order a{
	text-decoration: none;
	color: white;
}

.waiting-content-new-order a:hover{
	text-decoration: none;
	color: grey;
}

/* profile customer css */

.profile-customer-nav{
	
}

.profile-customer-nav-selected{
	background-color: #00b300;
}

.profile-customer-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    padding-right: 20px;
}

.profile-customer-nav-item{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-customer-nav .profile-customer-nav-rev{
	padding: 0;
	float: right;
	width: 300px;
}

.profile-customer-nav-item a{
	display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 20px;
}

.profile-customer-nav-item a:hover {
	color: white;
}

.profile-customer-nav-rev a{
	text-align: right;
	padding: 0;
}

.profile-customer-nav-item img{
	width: 58%;
	margin-left: auto;
	height: 50px;
	margin: 12px 0;
}

.profile-customer-content{
	margin-top: 80px;
	padding-left: 100px;
	padding-right: 50px;
}

.profile-customer-content::after{
	content: '';
	display: block;
	clear: both;
}

.profile-customer-content-item{
	float: left;
	width: 40%;
	font-size: 20px;
}

.profile-customer-content-item-2{
	padding-left: 100px;
	width: 45% !important;
}

.profile-customer-content-detail{
	margin-bottom: 50px;
}

.profile-customer-content-detail p{
	margin-bottom: 20px;
}

.profile-customer-content-detail p:nth-of-type(odd){
	font-weight: bold;
}

.profile-customer-content-detail-fill{
	border: none;
	border-bottom: solid 1px grey;
	width: 100%;
}

.profile-customer-footer{
	margin-top: 60px;
	text-align: center;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-customer-footer a{
	color: green;
	font-size: 22px;
}


.profile-customer-footer a:hover{
	color: #00b300;
	text-decoration: none;
}


.profile-customer-change-picture{
	text-align: center;
	cursor: pointer;
	margin-top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-customer-change-picture img{
	width: 7%;
	height: 7%;
}

.profile-customer-change-picture span{
	margin-left: 15px;
	padding-right: 20px;
}

.profile-customer-edit-submit{
	text-align: center;
}

.profile-customer-edit-submit-button{
	border: 1px solid #00b300;
	background-color: white;
	padding: 15px 50px;
	transition: 0.3s ease;
}

.profile-customer-edit-submit input {
	color: #00b300;
}

.profile-customer-edit-submit-button:hover{
	background-color: #00b300;
	color: white;
}

#error_explanation {
	text-align: center;
	margin-bottom: 40px;
	padding: 20px 0;
	border: 2px solid red;
}

#error_explanation li {
	list-style: none;
	font-size: 20px;
	display: block;
	color: red;
}

ol, ul {
	margin: 0 !important;
}

#error_explanation h2 {
	display: none;
}

/* order css */

.order{
	background-color: lightgrey;
}

.order-nav .order-current-page{
	border-bottom: 2px solid orange;
	padding-bottom: 15px;
}

.order-nav .order-current-page a{
	color: orange;
}

.order-nav{
	list-style-type: none;
	overflow: hidden;
	padding: 45px 35px 29px;
}

.order-nav::after{
	display: block;
	clear: both;
	content: '';
}

.order-nav-item{
	float: left;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 15px;
	font-weight: bold;
}

.order-nav-item .active {
	color: #f09b2f;
}

.order-logo{
	margin: 0;
	width: 20%;
}

.order-logo img{
	width: 100%;
}

.order-account{
	float: right;
	padding: 0px;
	margin-top: 10px;
	margin-right: 70px;
	border: solid 2px green;
	border-radius: 10px;
	width: 150px;
	cursor: pointer;
}

/*.logout-link {
	margin: 0 auto !important;
	margin-left: 32px !important;
}*/

.order-account ul{
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

.order-account li{
	float: left;
	padding: 5px 0;
}

.order-account li:nth-of-type(1){
	width: 30%;
	text-align: center;
	background-color: green;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.order-account li:nth-of-type(2){
	width: 70%;
	line-height: 30px;
	text-align: center;
}

.order-account img{
	width: 70%;
}

.order-account a{
	color: green;
}

.order-content{

}

.order-content::after{
	display: block;
	content: '';
	clear: both;
}

.order-content-item{
	float: left;
	max-height: 400px;
	overflow: hidden;
}

.order-content-item-1{
	width: 25%;
	background-color: grey;
	padding: 96px 40px 40px;
	text-align: center;
}

.order-content-circle{
	cursor: pointer;
	border-radius: 100%;
	border: 14px solid #90c74a;
	width: 220px;
	height: 220px;
	padding-top: 70px;
	margin: auto;
	margin-bottom: 20px;
}

.order-content-circle p{
	color: orange;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}

.order-content-circle p:nth-of-type(1){
	font-size: 36px;
	font-weight: bold;
}

.order-content-item-1 button{
	color: white;
	font-size: 12px;
}

.order-content-item-2{
	width: 37.5%;
	background-color: #90c74a;
	padding: 15px 25px;
}

.order-content-item-2 .order-content-item-2-header{
	margin-top: 20px;
	margin-bottom: 28px;
	text-align: center;
}

.order-content-item-2 .order-content-item-2-header img{
	width: 35%;
}

.order-content-detail{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 14px;
}

.order-content-detail img{
	width: 100%;
}

.order-content-detail::after{
	clear: both;
	display: block;
	content: '';
}

.order-content-detail-child{
	float: left;
}

.order-content-detail-child:nth-of-type(odd){
	padding-top: 2px;
	width: 6%;
}

.order-content-detail-child:nth-of-type(even){
	padding-top: 5px;
	width: 92%;
	padding-left: 2%;
}

.order-content-detail-child p{
	font-weight: bold;
	margin-top: 5px;
}

.order-pick-up{
	color: blue;
}

.order-destination{
	color: orange;
}

.order-content-detail-3{
	background-color: #90c74a;
	padding: 0;
}

.order-content-detail-3-child{
	float: left;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.order-content-price{
	width: 60%;
	font-weight: bold;
}

.order-content-price ul{
	overflow: hidden;
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}

.order-content-price li{
	float: left;
}

.order-content-price li:nth-of-type(2){
	float: right;
}

.order-content .order-arrived-button{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
}

.order-call{
	width: 38%;
	margin-left: 2%;
	position: relative;
}

.order-call img{
	width: 18%;
	position: absolute;
	top: 12%;
	right: 10%;
}

.order-content-item-3{
	width: 37.5%;
}

.order-content-item-3 img{
	width: 84%;
}

.order-content-circle .fa-check-circle{
	margin-top: -50px;
	margin-bottom: 10px;
	color: #90c74a;
	font-size: 84px;
}

.order-find-customer{
	background-color: orange;
	padding: 10px;
	padding-top: 30px;
}

.order-content .order-find-customer p{
	color: white;
	font-size: 28px;
	font-weight: bold;
	line-height: 34px;
}

.order-set-location{
	font-weight: bold;
	font-size: 36px;
	margin-top: 15%;
}

.order-set-location-detail{
	margin-bottom: 27%;
}

.order-offered{
	padding-right: 0px;
	padding-left: 0px;
}

.order-offered .order-content-circle{
	padding-top: 50px;
}

.order-content .order-offered .order-content-circle p{
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
}

.order-offered button{
	width: 40%;
	text-align: center;
	padding: 3px;
	font-size: 14px;
	margin-right: 3%;
	margin-left: 3%;
}

.order-offered-price{
	width: 100%;
}

.order-pick-up-customer .order-content-circle{
	padding-top: 40px;
}

.order-pick-up-customer p{
	line-height: 55px;
}

/* history css */

.history{
	background-color: white;
}

.history-item{
	border: 1px black solid;
	height: 150px;
}

.history .col-lg-2{
	padding: 55px 5px 0 20px;
	text-align: center;
}

.history .col-lg-2 img{
	width: 100%;
}

.history .history-destination .history-destination-icon{
	padding: 10px;
	padding-right: 0;
	text-align: center;
}

.history-destination .history-destination-icon img{
	width: 60%;
	opacity: 0.7;
}

.history .history-destination-detail{
	margin-top: 15px;
	width: 80%;
	padding-left: 0;
}

.history-address{
	margin-top: 10px;
}

.history-sub-detail{
	width: 70%;
}

.history-price{
	float:left;
}

.history-distance{
	float:right;
}

.history-driver-feedback .history-driver-feedback-comments{
	text-align: left;
}

.history .history-feedback{
	padding-right: 50px;
	padding-left: 50px;
}

.history-driver-feedback-rating img{
	width: 6%;
}

.history-driver-feedback h2{
	margin-top: 5px;
	text-align: center;
}

.history-driver-feedback-rating{
	text-align: center;
	margin-bottom: 10px;
}

.history-driver-feedback-comments{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0;
}

/* login driver css */

.login-driver{
	height: 100%;
	width: 100%;
	background-color: #90c74a;
}

.login-driver::after{
	clear: both;
	content: '';
	display: block;
}

.login-driver-item{
	float: left;
	width: 50%;
}

.login-driver-table{
	border: 10px solid black;
	border-radius: 35px;
	background-color: white;
	width: 80%;
	margin-left: auto;
	padding: 10px 50px;
	text-align: center;
	margin-top: 10%;
}

.login-driver-table-header h2{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 34px;
}

.login-driver-table-header img{
	width: 70%;
	margin-bottom: 20px;
}

.login-driver-table-content input{
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px;
	border: solid 2px black;
}

.login-driver-table input::placeholder{
	font-size: 18px;
	font-weight: bold;
}

.login-driver-submit{
	width: 40%;
	margin:auto;
}

.login-driver-submit .login-driver-submit-button{
	padding: 10px;
	background-color: #90c74a;
	font-weight: bold;
	font-size: 24px;
	color: #2d2d2d;
	border-radius: 5px;
	border-width: 4px;
}

.driver-sign-up{
	font-size: 22px;
}

.driver-sign-up p{
	margin: 0;
}

.logo-driver{
	height: 100vh;
	position: relative;
}

.logo-driver img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* signup css */

.signup-driver-table-header h2{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 26px;
}

.signup-driver-table-header img{
	width: 50%;
	margin-bottom: -10px;
}

.signup-driver-table-content input{
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 7px;
	border: solid 2px black;
}

.signup-driver-table-content input::placeholder{
	font-size: 18px;
	font-weight: bold;
}

.signup-driver-table{
	margin-top: 8%;
	margin-bottom: 8%;
}

/* profile driver css */

.profile-driver{
	/*background-color: lightgrey;*/
}

.profile-driver-item{
	max-height: 540px;
	height: 100%;
}

.profile-driver-item-edit{
	max-height: 680px;
	height: 100%;
}

.profile-driver-portrait{
	background-color: grey;
	padding-top: 60px;
	text-align: center;
	height: 700px;
	/*max-height: 600px;*/
}

.profile-driver-portrait-image{
	border: solid 4px #90c74a;
	border-radius: 100%;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.profile-driver-portrait-image img{
	width: 100%;
}

.plus-button {
	width: 60px;
	height: 60px;
	position: absolute;
	transform: translate(165px, -140px);
}

.file-input-label {
	cursor: pointer;
}

#file-input {
	display: none;
}

.save-button {
	background-color: transparent;
	border: none;
	/*width: 210px;*/
	color: #90c74a;
	text-align: center;
	margin-top: -100px;
}


.save-button:hover {
	color: #e7eced;
	text-decoration: none;
}

.profile-driver-portrait button{
	border-radius: 25px;
	border: 4px solid #90c74a;
	color: #90c74a;
	font-size: 24px;
	background-color: #556080;
	padding: 10px 30px;
}

.profile-driver-detail{
	padding-top: 20px;
	background-color: #90c74a;
	height: 700px;
}

.profile-driver-detail-item input {
	margin-left: 16px;
	width: 80%;
}

.profile-driver-detail-item{
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	width: 90%;
	padding: 5px 30px;
	margin: 23px auto;
}

.profile-driver-detail-item img{
	width: 10%;
}

.profile-driver-detail-item-input{
	padding-left: 20px;
	font-size: 20px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
}

.m-l-16 {
	margin-left: 16px;
}

.error-msg {
	display: flex;
	justify-content: center;
	text-align: center;
	list-style-type: none;
	background-color: rgba(255,0,0,0.3);
	margin-bottom: 16px;
}

.error-msg li {
	/*color: red;*/
	list-style-type: none;
	font-size: 20px;
	margin-top: 12px;
	font-weight: bold;
}

.error-msg h2 {
	display: none;
	font-size: 20px;
}

#save {
	outline: none;
}

.profile-driver-rating{
	background-color: #76aed1;
	text-align: center;
	padding: 13% 10px 14%;
	height: 700px;
}

.profile-driver-rating p{
	font-size: 34px;
	font-weight: bold;
}

.profile-driver-rating-star img{
	width: 12%;
	margin: 5px;
}

.profile-driver-edit-image{
	width: 250px;
	height: 250px;
}

.profile-driver-edit-image img{
	margin-top: -5px;
	width: 270px;
	height: 270px;
}

.profile-driver-portrait button {
	background-color: #55617f;
	color: white;
	width: 210px;
	height: 60px;
	font-weight: bold;
	padding-right: 35px;
	padding-left: 35px;
	outline: none;
}

.edit-profile-button {
	color: #90c74a;
}

.edit-profile-button:hover {
	color: #e7eced;
	text-decoration: none;
}

.profile-driver-edit-detail input{
	border: none;
}

.login-home{
	height: 100vh;
	width: 100%;
}

.login-home-background{
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.login-home-video-wrapper{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.login-home .overlay{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
}

.login-home-content{
	width: 80%;
	margin: auto;
	margin-top: 5%;
	max-height: 50vh;
	position: relative;
	opacity: 1;
}

.login-home-content::after{
	display: block;
	content: '';
	clear: both;
}

.login-home-content-head{
	position: absolute;
	border-bottom: solid 7px black;
	border-left: solid 7px black;
	border-right: solid 7px black;
	width: 40%;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	padding-top: 15px;
	height: 100px;
	top: 0;
	left: 30%;
	background-color: white;
}

.login-home-content-item{
	max-height: 80vh;
	float: left;
	width: 50%;
	padding-top: 13%;
	padding-bottom: 15%;
}

.login-home-content-item img{
	width: 60%;
	cursor: pointer;
}

.login-home-content-driver{
	background-color: #90c74a;
	padding-left: 10%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.login-home-content-customer{
	background-color: orange;
	text-align: right;
	padding-right: 10%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.login-home-content-arrow{
	display: none;
	color: white;
	text-align: center;
	width: 60%;
	padding-top: 5px;
	font-size: 64px;
	animation: swinging-up 1s linear infinite;
}

@keyframes swinging-up{
	0% {padding-top: 10px;}
	50% {padding-top: 30px;}
	100% {padding-top: 10px;}
}

.login-goride-arrow{
	margin-left: auto;
}

.login-goride-image:hover + div{
	display: block;
}

.login-driver-image:hover + div{
	display: block;
}